EditableGridView_SQL_VS2010/EditableGridView_SQL_VS2010/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31322/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:element name="GetCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CutomerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetCustomerDetailsResult" nillable="true" type="q1:ArrayOfCustomerDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="customerInfo" nillable="true" type="q2:CustomerDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCustomerDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="customerInfo" nillable="true" type="q3:CustomerDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCustomerDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="getEmployeeListResult" nillable="true" type="q4:ArrayOfEmployeeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartmentList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartmentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="getDepartmentListResult" nillable="true" type="q5:ArrayOfDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertEmployeeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="eInfo" nillable="true" type="q6:EmployeeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertEmployeeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertEmployeeInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEmployeeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="eInfo" nillable="true" type="q7:EmployeeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEmployeeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateEmployeeInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEmployeeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEmployeeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteEmployeeInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="executeQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="executeQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="executeQueryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>