EditableGridView_SQL_VS2010/EditableGridView_SQL_VS2010/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:31322/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:31322/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:31322/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetCustomerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCustomerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCustomerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCustomerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCustomerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCustomerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getEmployeeList_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeList" />
  </wsdl:message>
  <wsdl:message name="IService1_getEmployeeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getDepartmentList_InputMessage">
    <wsdl:part name="parameters" element="tns:getDepartmentList" />
  </wsdl:message>
  <wsdl:message name="IService1_getDepartmentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepartmentListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertEmployeeInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:insertEmployeeInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_insertEmployeeInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertEmployeeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateEmployeeInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEmployeeInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_updateEmployeeInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEmployeeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteEmployeeInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteEmployeeInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteEmployeeInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteEmployeeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_executeQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:executeQuery" />
  </wsdl:message>
  <wsdl:message name="IService1_executeQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:executeQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetCustomerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCustomerDetails" message="tns:IService1_GetCustomerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCustomerDetailsResponse" message="tns:IService1_GetCustomerDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustomerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertCustomerDetails" message="tns:IService1_InsertCustomerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertCustomerDetailsResponse" message="tns:IService1_InsertCustomerDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateCustomerDetails" message="tns:IService1_UpdateCustomerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateCustomerDetailsResponse" message="tns:IService1_UpdateCustomerDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmployeeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getEmployeeList" message="tns:IService1_getEmployeeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getEmployeeListResponse" message="tns:IService1_getEmployeeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDepartmentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getDepartmentList" message="tns:IService1_getDepartmentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getDepartmentListResponse" message="tns:IService1_getDepartmentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertEmployeeInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertEmployeeInfo" message="tns:IService1_insertEmployeeInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertEmployeeInfoResponse" message="tns:IService1_insertEmployeeInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEmployeeInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateEmployeeInfo" message="tns:IService1_updateEmployeeInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateEmployeeInfoResponse" message="tns:IService1_updateEmployeeInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteEmployeeInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteEmployeeInfo" message="tns:IService1_deleteEmployeeInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteEmployeeInfoResponse" message="tns:IService1_deleteEmployeeInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="executeQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/executeQuery" message="tns:IService1_executeQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/executeQueryResponse" message="tns:IService1_executeQuery_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeList">
      <soap:operation soapAction="http://tempuri.org/IService1/getEmployeeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepartmentList">
      <soap:operation soapAction="http://tempuri.org/IService1/getDepartmentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertEmployeeInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/insertEmployeeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmployeeInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/updateEmployeeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmployeeInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteEmployeeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeQuery">
      <soap:operation soapAction="http://tempuri.org/IService1/executeQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:31322/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>